dist/
.astro/
node_modules/
.pnp
.pnp.js
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.env
.env.*
!.env.example
*.wav
*.ogg
*.mp3
*.mp4
*.mov
public/audio/
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
.eslintcache
*.tsbuildinfo
.npm
